.page-main {
  width: 90%;
  margin: 0 auto;
}

.product__image {
  width: 100%;
  margin-bottom: 0.3em;
}

.product__title {
  font-family: $exo2;
  color: #000;
  text-decoration-style: dotted;
  line-height: 1.5rem;
  max-width: 175px;
  margin-bottom: 1.25em;

  &--caps {
    text-transform: uppercase;
    font-size: 2rem;
  }

  &:hover {
    color: $blue;
  }
}

.product__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.product__category {
  font-size: 0.8rem;
  margin-bottom: 0.5em;
}

.product__description {
  padding-right: 0.5em;

  &::before {
    content: '';
    display: block;
    position: relative;

    background-image: url(../img/nav/bonfesto.png);
    background-repeat: no-repeat;
    background-size: 46px 16px;
    background-position: center;

    width: 72px;
    height: 25px;

    background-color: $green;

    top: -10px;
    left: 0;
  }
}

@media (min-width: $small) {
  .page-main {
    width: 550px;
  }
}

@media (min-width: $medium) {
  .page-main {
    width: auto;
    margin: 0 auto;
  }

  .product__list {
    max-width: 620px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .product__item {
    width: 300px;
    margin: 0;
  }

  .product__list {
    display: -ms-grid;
    -ms-grid-row: 1fr 20px 1fr 1fr;
    -ms-grid-columns: 300px 1fr 300px;
  }
  .grid-item {
    &-1 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    &-2 {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    &-3 {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
    }
    &-4 {
      -ms-grid-row: 3;
      -ms-grid-column: 3;
    }

    &-5 {
      -ms-grid-row: 5;
      -ms-grid-column: 1;
    }
  }
}

@media (min-width: $large) {
  .product__list {
    max-width: 940px;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-row: 1fr 20px 1fr 20px 1fr;
    -ms-grid-columns: 300px 1fr 300px 1fr 300px;
  }

  .grid-item {
    &-1 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    &-2 {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    &-3 {
      -ms-grid-row: 1;
      -ms-grid-column: 5;
    }

    &-4 {
      -ms-grid-row: 2;
      -ms-grid-column: 3;
    }

    &-5 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
    }
  }
}
