$exo2: 'Exo 2', sans-serif;
$helvetica: 'HelveticaNeue', sans-serif;
$small: 576px;
$mobile-only: 767px;
$medium: 768px;
$large: 992px;
$xtra-large: 1200px;
$green: #8fb52c;
$beige: #f5f3e8;
$blue: #7194f2;
